<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <link rel="icon" th:href="@{/icons/icons8-book-50.png}" type="image/png" />

    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet">
    <script th:src="@{/bootstrap/js/bootstrap.js}"></script>
    
    <script th:src="@{/scripts/fileInputValidation.js}"></script>

    <title>Add</title>
</head>
<body>
    <div class = "sticky-top" th:replace = "~{elements :: navigbar}"></div>

    <div class = "container-md bg-light px-5 py-5 mt-3 rounded rounded-1">

        <form method="post" enctype="multipart/form-data" th:action = "@{/lib-books/add}">
            <div class="mb-3" style="width: 50%;">
                <label class="form-label"><b>Название книги</b></label>
                <input type="text" name = "title" class="form-control border-dark" required>
              </div>
            <div class="mb-3" style="width: 50%;">
                <label class="form-label"><b>Автор</b></label>
                <input type="text" name = "authors" class="form-control border-dark" aria-describedby="authorsHelp" placeholder="Фамилия Имя Отчество">
                <div class="form-text">Введите полное имя автора, если авторов несколько, то разделите их через ';'</div>
            </div>
            <div class="mb-3" style="width: 10%">
                <label class="form-label"><b>Год</b></label>
                <input type="number" name = "year" class="form-control border-dark" value = 2000>
            </div>
            <div class="mb-3" style="width: 10%">
                <label class="form-label"><b>Количество</b></label>
                <input type="number" name = "quantity" class="form-control border-dark" value = 0>
            </div>
            <div class="mb-3" style="width: 50%;">
                <label class="form-label"><b>Обложка</b></label>
                <input type="file" accept=".jpg,.jpeg,.png" name = "file" class="form-control border-dark">
                <p class="fs-6">Загрузите файл весом до 5 МБ</p>
              </div>
            <div class="col-12">
                <button class="btn btn-outline-primary" type="submit">Добавить</button>
                <form action="get"><a th:href="@{/lib-books}" class="btn btn-outline-primary">Назад</a></form>
            </div>
        </form>

    </div>
    <div id="message" th:attr="data-message=${message}" style="display: none;"></div>
    <div class="toast-overlay" id="toast-overlay"></div>
    <script th:src="@{/scripts/toasts.js}"></script>
    
</body>
</html>