<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <link rel="icon" th:href="@{/icons/icons8-book-50.png}" type="image/png" />

    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet">
    
    <title>Update</title>
</head>
<body>
    <div class = "container-md bg-light px-5 py-5 mt-3 rounded rounded-1">
    
        <form method="post" th:action = "@{/lib-authors/update}">
            <input type="hidden" th:value = "${author.id}" name="id">
            <div class="mb-3" style="width: 50%;">
                <label class="form-label"><b>ФИО автора</b></label>
                <input type="text" th:value="${author.fullName}" name = "fullName" class="form-control border-dark" required>
            </div>
            <div class="col-12">
                <button class="btn btn-outline-primary" type="submit">Обновить данные</button>
                <a th:href="@{/lib-authors}" class="btn btn-outline-primary">Назад</a>
            </div>
        </form>
        <form method="post" th:action="@{/lib-authors/delete}" class="mt-2">
            <input type="hidden" th:value = "${author.id}" name="id">
            <input type="submit" class="btn btn-danger" value="Удалить автора"></input>
        </form>
        <form action="get" class="mt-2"></form>
    </div>
    
</body>
</html>