<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <link rel="icon" th:href="@{/icons/icons8-book-50.png}" type="image/png"/>
    
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet">
    <script th:src="@{/bootstrap/js/bootstrap.js}"></script>
    
    <title>Manage menu</title>
</head>
<body>
    <div th:replace="~{fragments/offcanvas :: contentList}"></div>

    <div class = "container-md bg-light px-5 py-5 mt-3 rounded rounded-1">

        <div class="navbar bg-transient">
            <div class="container-fluid d-flex justify-content-between">
                <a class="nav-item d-inline fs-1 link-dark" type="button" title="Выбрать список" data-bs-toggle="offcanvas" data-bs-target="#ManageMenu">Список книг</a>
                <form class="nav-item" method="post" th:action = "@{/lib-books/search}">
                    <input class="form-control me-2" name="phrase" type="search" placeholder="Название книги">
                </form>
            </div>
        </div>

        <table class = "table table-bordered border-dark table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col"><b>ID</b></th>
                    <th scope="col"><b>Название</b></th>
                    <th scope="col"><b>Год выпуска</b></th>
                    <th scope="col"><b>Авторы</b></th>
                    <th scope="col"><b>Количество</b></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr th:each="book : ${listBook}">
                    <th th:text="${book.id}"></th>
                    <th th:text="${book.title}"></th>
                    <th th:text="${book.year}"></th>
                    <th>
                        <ul th:each="author : ${book.authors}">
                            <li th:text="${author.fullName}"></li>
                        </ul>
                    </th>
                    <th th:text="${book.quantity}"></th>
                    <th><a th:href="@{/lib-books/update/{id}(id=${book.id})}" class="btn btn-outline-primary">Обновить</a></th>
                </tr>
            </tbody>
        </table>

        <div th:if="${pageable}">
            <div th:replace="~{fragments/pagination :: pagination_m}"></div>
        </div>

        <a th:href="@{/lib-books/add}" class="btn btn-outline-primary">Добавить новую книгу</a>
    </div>
    <div th:replace="~{fragments/toast :: toast}"></div>
</body>

</html>