<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/styles/background.css}">
    <link rel="icon" th:href="@{/icons/icons8-book-50.png}" type="image/png" />
    <title>Manage menu</title>
</head>
<body>
    <div class = "sticky-top" th:replace = "~{elements :: navigbar}"></div>

    <div class = "container-md bg-light px-5 py-5 mt-3 rounded rounded-1">
        <h1>Список книг в библиотеке</h1> <span th:if="${message}"><h2 th:text="${message}" style="color:greenyellow;"></h2></span>
        <table class = "table table-bordered border-dark table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col"><b>ID</b></th>
                    <th scope="col"><b>Название</b></th>
                    <th scope="col"><b>Год выпуска</b></th>
                    <th scope="col"><b>Авторы</b></th>
                    <th scope="col"><b>Количество</b></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr th:each="book : ${listBook}">
                    <th th:text="${book.id}"></th>
                    <th th:text="${book.title}"></th>
                    <th th:text="${book.year}"></th>
                    <th>
                        <ul th:each="author : ${book.authors}">
                            <li th:text="${author.fullName}"></li>
                        </ul>
                    </th>
                    <th th:text="${book.quantity}"></th>
                    <th><a th:href="@{'/lib-books/update?id=' + ${book.id}}" class="btn btn-outline-primary">Обновить</a></th>
                </tr>
            </tbody>
        </table>

        <a th:href="@{/lib-books/add}" class="btn btn-outline-primary">Добавить новую книгу</a>
    </div>
    
</body>
</html>