<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/table.css}">
  <title>Thyemeleaf test</title>
</head>
<body>
  <table>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Status</th>
    </tr>
    <tr th:each="book : ${listBooks}">
      <td th:text = "${book.title}"></td>
      <td th:text = "${book.author}"></td>
      <td th:text = "${book.status}"></td>
    </tr>
  </table>
  <form th:action="@{/order}" method="get">
    <input type="submit" value="To order page">
  </form>
  
</body>
</html>