<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/styles/table.css}">
  <title>Thyemeleaf test</title>
</head>
<body>
  <table>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Phone number</th>
      <th>Role</th>
    </tr>
    <tr th:each="user : ${listUsers}">
      <td th:text = "${user.firstName}"></td>
      <td th:text = "${user.lastName}"></td>
      <td th:text = "${user.phoneNumber}"></td>
      <td th:text = "${user.role}"></td>
    </tr>
  </table>
  <form th:action="@{/order}" method="get">
    <input type="submit" value="To order page">
  </form>
  
</body>
</html>