<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles/background.css}">
    <link rel="icon" th:href="@{/icons/icons8-book-50.png}" type="image/png" />
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet">
    <script th:src="@{/bootstrap/js/bootstrap.js}"></script>
    
    <title>Register</title>
</head>

<body>
  <div class = "sticky-top" th:replace = "~{elements :: navigbar}"></div>

  <div class = "container-md bg-light px-5 py-5 mt-3 rounded rounded-1">

    <form action="post" th:action="@{/registration}" autocomplete="off">
        <div class="mb-3" style="width: 50%;">
            <label class="form-label"><b>Имя</b></label>
            <input type="text" name = "firstName" class="form-control border-dark" required>
        </div>
        <div class="mb-3" style="width: 50%;">
            <label class="form-label"><b>Фамилия</b></label>
            <input type="text" name = "lastName" class="form-control border-dark" required>
        </div>
        <div class="mb-3" style="width: 40%;">
            <label class="form-label"><b>Номер телефона</b></label>
            <input type="tel" name = "phoneNumber" class="form-control border-dark" required>
        </div>
        <div class="mb-3" style="width: 50%;">
            <label class="form-label"><b>Электронная почта</b></label>
            <input type="email" name = "email" class="form-control border-dark">
        </div>
        <div class="mb-3" style="width: 50%;">
            <label class="form-label"><b>Пароль</b></label>
            <input type="password" name = "password" class="form-control border-dark" required>
        </div>
        <div class="mb-3" style="width: 50%;">
            <label class="form-label"><b>Повторите пароль</b></label>
            <input type="password" name = "passwordRep" class="form-control border-dark" required>
        </div>
            <button class="btn btn-outline-primary" type="submit">Зарегистрироваться</button>
        </div>
    </form>

  </div> 

</body>
</html>