   body {
    font-family: 'Noto Sans JP', sans-serif;
    background-image: url("assets/LibHubBG.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }